<form action="/specialties" method="post">
  <div class="form-group">
    <label for="description">Enter a Specialty:</label>
    <input name="description" type="text" class="form-control">
  </div>
  <button type="submit">Add Specialty</button>
</form>
